@import url('https://fonts.cdnfonts.com/css/earth-orbiter');
body {
    margin:auto;
    backdrop-filter: blur(10px);
    background: linear-gradient(-215deg, #23a6d5, #23d5ab);
    border: 5px solid black;
    border-bottom:5px solid black;
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
    background-attachment: fixed;
}
h1 {
    font-family: 'Earth Orbiter Extra-Bold', sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 5rem;
}
input::placeholder {
    
    text-align: center;
    color: black;
    font-weight: bold;
}
#inputError{
    padding: 4px;
    margin-top: 10px;
    color: red;
}
form {
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    border-width: 5px;;
    width: 500px;
    margin-top: 50px;
    text-align: center;
}
fieldset {
    font-weight: 500;
    font-family: 'Earth Orbiter Extra-Bold', sans-serif;
    font-size: x-large;
    border:none;
}
label {
    font-family: 'Earth Orbiter Extra-Bold', sans-serif;
    padding: 5px;
}
label, input {
    display: block;
}
input {
    width:150px;
    margin: auto;
}
#table {
    margin:auto;
    width:fit-content;
    margin-left: auto;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
    max-width: 1000px;
}
table tr, th {
    border: 1px solid black;
}
tr {
    background: #10a9e2;
}
tr, th {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
tr::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
th::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
tr:nth-child(1) {
    
    background: #042c84;
    border: none;
    overflow: scroll;
    top: 0;
    position: sticky;
    color: white;
}
th:nth-child(1) {
    background: #042c84;
    border: none;
    left: 0;
    overflow: scroll;
    position: sticky;
    color: white;
}
th:hover {
    background-color: #0086df;
}
#minColSlider, #maxColSlider,#minRowSlider, #maxRowSlider {
    margin:auto;
    background:#0086df;
    border-color:black;
    width: 150px;
}
.closeTabs {
    margin-top: 1rem;
    background-color: white;
    width: 5rem; 
    height: 2.2rem;
    cursor: pointer; 
    float:right;
}
#addTab {
    float:left;
    margin-top: 1rem;
    background-color: none;
    width: 5rem; 
    height: 2.2rem;
    cursor: pointer; 
}
#tabs ul {
    border:none;
    background:none;
}

#tabs {
    display:block;
    margin-top: 5-;
    background: linear-gradient(to right,#ee7752, #e73c7e);
    height: 50%;
    border:none;
    margin-top: 2em; 
    overflow-x: auto; 
    overflow-y: auto;
}
#tabs li .ui-icon-close { 
    cursor: pointer; 
}
#tabs li {
    padding: none;
    border-radius:15%;
    height: auto;
    background: white;
    width: 90px;
}
#tabs a {
    color:black;
}
#tabs .ui-tabs-active{
    color:white;
    background-color:#8823d5;
}
#tabs table{
    margin:auto;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
